
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: blue;
        }
        .square {
            width: 200px;
            height: 200px;
            background-color: yellow;
        }
